@use '../../scss/utils' as *;

.HeaderRow1 {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    .HeaderRow1__logo {
        width: 2.25rem;
    }

    .HeaderRow1__nav {
        display: none;
        border-inline-end: 1px solid #000;

        li {
            display: inline;
            margin-inline-end: 1rem;
        }

        @include mq(lg) {
            display: initial;
        }

    }

    .HeaderRow1__register {
        display: none;
        flex-shrink: 0;

        @include mq(lg) {
            display: initial;
        }

    }

    .HeaderRow1__submitBtn {
        display: none;
        border: 1px solid #000;
        outline: none;
        background: none;
        border-radius: 2px;
        flex-shrink: 0;
        padding: 0.5rem 0.75rem;

        @include mq(lg) {
            display: initial;
        }

    }

    .HeaderRow1__menuBtn {
        font-size: 2.5rem;
    }

}